<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="son.dualai">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.WAKE_LOCK"/>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:name="son.screencomp.JettApplication"
        >
        <activity android:name="son.rvadapter.MainActivity"
            android:launchMode="singleTask"
            >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="son.test.Test1Activity"
            />

        <activity android:name="son.test.Test2Activity"
            />

        <activity android:name="son.keepalive.KeepAliveActivity"
            android:excludeFromRecents="true"
            android:taskAffinity="son.dualai.adt"
            android:theme="@style/Keep_theme"
            />

        <service android:name="son.keepalive.service.ForegroundService"/>
        <service android:name="son.keepalive.service.ForegroundService$InnerService"/>

        <activity android:name="son.lmode.A_Activity" />

        <activity android:name="son.lmode.B_Activity" />

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.fileProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths"/>
        </provider>


    </application>

</manifest>